.image {
  width: 64px;
  height: 64px;
  border-radius: 0.5rem;
}
.image.compact {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
}
.flight-info {
  height: 64px;
}
.flight-info.compact {
  height: 48px;
}