<div class="hero is-fullheight is-info is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Welcome to Flight Log
            </h1>
            <h2 class="subtitle">
                Please login to continue
            </h2>
            <button class="button is-large is-white is-outlined" (click)="login()">
                <span class="icon is-medium">
                    <i class="fa fa-google"></i>
                </span>
                <span>Login with Google</span>
            </button>
        </div>
    </div>
</div>