<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Thorstens Flight Tracker
    </a>
    <a class="navbar-item" routerLink="/flights" routerLinkActive="active">List Flights</a>
    <a class="navbar-item" (click)="logout()">Logout</a>
    <a class="navbar-item" (click)="login()">Login</a>
  </div>
</nav>

<section class="section">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made by Thorsten
      </p>
    </div>
  </div>
</footer>
