/* You can add global styles to this file, and also import other style files */
// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';
@import '../node_modules/bulma/sass/utilities/functions';


// 6. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

app-cesium {
  width: 100%; min-height: 400px; height: 50vh; max-height: 800px; margin: 0; padding: 0; overflow: hidden;
}
