<div>
  <h2 class="title">Your flights
    <a [routerLink]="['/flight', 'new']" class="button is-hidden-tablet is-pulled-right">Add</a>
  </h2>
  <ng-container *ngIf="(stats$|async) as stats">
    <div *ngIf="stats.hasAircraft" class="card" style="width: 50%; min-width: 400px; top: 20px; right: 20px; position: fixed; z-index: 9999;">
      <div class="card-header">
        <div class="card-header-title"><strong>Stats</strong>&nbsp;<small>{{stats.flight.from}} - {{stats.flight.to}}</small>
          &nbsp;
          <small>{{stats.flight.departureTime | amTimeAgo}}</small></div>
        <div class="card-header-icon" (click)="selectFlight(stats.flight)">
          <i class="fa fa-close"></i>
        </div>
      </div>

      <div class="card-content">
        <p>
          With Aircraft {{stats.aircraft }} you did {{stats.flightsWithAircraft.length }} flights (with this type {{stats.flightsWithType }}).
        </p>
        <p>You flew this route {{stats.flightsOnRoute}} times.</p>

        <div *ngIf="stats.flightsWithAircraft.length > 1">
          <p>Flights with this aircraft:</p>
          <div class="box">
            <div class="media" *ngFor="let pastFlight of stats.flightsWithAircraft">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{pastFlight.from}} - {{pastFlight.to}}</strong>&nbsp;
                    <small>{{pastFlight.departureTime | amTimeAgo}}</small>
                    &nbsp;
                    <small>
                    Seat: {{pastFlight.seat}}
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="columns">
    <div class="column is-two-thirds">
      <app-cesium *ngIf="flights" [flights]="flights"></app-cesium>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="subtitle is-hidden-mobile">
            Add / Import / Export
          </p>
          <p *ngIf="(stats$|async) as stats">
            {{stats.count }} Flights - {{stats.distance | number : '1.0-0'}} km
          </p>
        </div>
        <footer class="card-footer is-hidden-mobile">
          <a [routerLink]="['/flight', 'new']" class="card-footer-item">Add Flight</a>
        </footer>
      </div>
    </div>

  </div>

  <div class="columns is-multiline">
    <div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd" *ngFor="let flight of flights | async">

      <div class="card" (mouseenter)="selectFlight(flight)" (click)="selectFlight(flight)">
        <div class="card-header">
          <div class="card-header-title">{{flight.from}} to {{flight.to}}</div>
          <div class="card-header-icon">
            <a [routerLink]="['/flight', flight._id]">
                <span class="icon">
                  <i class="fa fa-edit" aria-hidden="true"></i>
                </span>
            </a>
          </div>
        </div>
        <div class="card-content">
          <p> {{flight.departureTime | date:'dd.MM.yyyy HH:mm'}} - {{flight.flightno}} <br /> {{flight.distance
            | number : '1.0-0'}} km - {{flight.aircraftRegistration}}
          </p>
          <p class="is-hidden-mobile">
            {{flight.class}} - {{flight.seat}} - {{flight.carrier}} <br /> {{flight.aircraftType}}
          </p>

        </div>
      </div>

    </div>
  </div>
</div>
