<div>
  <h2 class="title">Your flights</h2>
  <div class="card">
    <div class="card-content">
      <p class="subtitle">
        Add / Import / Export
      </p>
    </div>
    <footer class="card-footer">
     <a [routerLink]="['/flight', 'new']" class="card-footer-item">Add Flight</a>
    </footer>
  </div>
  <br />
  <div class="columns is-multiline">
    <div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd" *ngFor="let flight of flights | async">
      <div class="card" >
        <div class="card-content">
          <p class="title">
            <i class="fa fa-plane" aria-hidden="true"></i> {{flight.from}} to {{flight.to}}
          </p>
          <p class="subtitle">
            {{flight.departureTime | date:'dd.MM.yyyy HH:mm'}} - {{flight.flightno}} - {{flight.distance | number : '1.0-0'}} km
          </p>
          {{flight.class}} - {{flight.seat}} - {{flight.carrier}} <br />
          {{flight.aircraftType}} {{flight.aircraftRegistration}}
        </div>
        <footer class="card-footer">
          <!--<a [routerLink]="['/flight', flight._id]" class="card-footer-item">Edit</a>-->
        </footer>
      </div>
    </div>
  </div>
</div>
